<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark  " style="background-color: orange;" *ngIf="user">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
      <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">My Account</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #fe5858;" *ngIf="user">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">TopupMama</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
       
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home<span class="sr-only">(current)</span></a>

      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
      </li>
     
    </ul>
    <a class="nav-item nav-link text--white "  routerLink="users/account" routerLinkActive="active"><i style="color: white; font-size: large;" class="fa-large fa fa-user"></i></a>

    <a class="nav-item nav-link text-white" (click)="logout()" style="cursor: pointer;">Logout</a>
  </div>
</nav>

<!-- main app container -->
<!-- [ngClass]="{ 'bg-light': user }" -->
<div class="app-container" >
  <div class="row justify-content-end" style="z-index: 100;" tabindex="100">
    <div class="col-md-3">
      <!-- <alert></alert> -->
    </div>
  </div>
  
  <router-outlet></router-outlet>
  <div class="footer text-center fixed-bottom background-primary">
    &copy; 2022
  </div>
</div>