<div class="container row">
   
        <div class="col-md-6 offset-md-4" >
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="name"> Name</label>
                            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">First Name is required</div>
                            </div>
                        </div>
                    
                    </div>
                    <div class="form-row">
                    
                        <div class="form-group col">
                            <label for="name">Job </label>
                            <input type="text" formControlName="job" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                            <div *ngIf="submitted && f.job.errors" class="invalid-feedback">
                                <div *ngIf="f.job.errors.required">Last Name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-secondary mr-4">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Update
                        </button>
                        <a (click)="close()" class="btn btn-danger">Cancel</a>
                    </div>
                </form>
        </div>
    </div>