
<div class="modal-header text-center">
    <h4 class="modal-title text-center" id="modal-basic-title">
      <span class="text-center" style="text-align: center !important;">  {{user?.first_name}} Profile </span>
    </h4>
    <!-- <button  type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
    </button> -->
    </div>
    <div class="card container text-center">
        <img class="card-img-top mt-3" [src]="user.avatar" alt="Card image cap" >
        <div class="card-body">
          <h5 class="card-title">Name: {{user?.first_name}} {{user?.last_name}}</h5>
          <p class="card-text">Email: {{user?.email}}</p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
        <div class="card-action">
            <a class="btn btn-warning mb-4 mr-5" (click)="edit(user)">Edit</a>
            <a  class="btn btn-danger mb-4" (click)="remove(user.id)">Delete</a>
        </div>
      </div>
    