/* You can add global styles to this file, and also import other style files */
.btn-primary{
    color: #fff;
    background-color: #fe5858;
    border-color: #fe5858;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
    color: #fff;
    background-color: green !important;
    border-color: green;
}

.btn-primary-inverse{
   
    color: #fff;
    background-color: green !important;
    border-color: green;
}
.btn-primary-inverse:hover, .btn-primary-inverse:focus, .btn-primary-inverse:active, .btn-primary-inverse.active{
    color: #fff;
    background-color: #fe5858;
    border-color: #fe5858;
}

