/* You can add global styles to this file, and also import other style files */
.btn-primary{
    color: #fff;
    background-color: #fe5858 !important;
    border-color: #fe5858 !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
    color: #fff;
    background-color: green !important;
    border-color: green;
}
.btn-white{
    color: #fff;
    background-color: transparent !important;
    border-color: #fe5858 !important;
    border: 2px solid white !important ;
    color: white !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
    color: #fff;
    background-color: green !important;
    border-color: green;
}
.btn-outline-primary{
    color: #fff;
    background-color: #fe5858 !important;
    border-color: #fe5858 !important;
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active{
    color: #fff;
    background-color: green !important;
    border-color: green;
}
.btn-primary-inverse{
   
    color: #fff;
    background-color: green !important;
    border-color: green;
}
.btn-primary-inverse:hover, .btn-primary-inverse:focus, .btn-primary-inverse:active, .btn-primary-inverse.active{
    color: #fff;
    background-color: #fe5858 !important;
    border-color: #fe5858 !important;
}
.background-primary{
    background-color: #fe5858 !important;
    padding: 5px;
    color: white !important;
}

