<div class="p-4">
    <div class="d-flex justify-content-between">
        <p></p>
        <button class="btn btn-primary"> Refresh Token</button>        
    </div>
    <div class="container">   
        <h1>Hi!</h1>
        
        <p>Current Location: {{address}} </p>
        <!-- <p><a routerLink="/users">Manage Users</a></p> -->
        <agm-map style="height: 300px;" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
              ></agm-marker>
        </agm-map>      
    </div>
</div>